.ObstructionSelector__buttonContainer {
  padding: 16px 0;
}
.ObstructionSelector__GridContainer {
  margin-right: 60px;
}
.ObstructionSelector--container {
  display: flex;
  padding-right: 30px;
}
.ObstructionSelector {
  h2 {
    font-size: 16px;
    padding-bottom: 16px;
  }
}
